fastapi==0.115.5
uvicorn[standard]==0.32.1
python-multipart==0.0.18
sqlalchemy==2.0.36
pydantic==2.10.3
aiofiles==24.1.0
pillow==11.0.0
python-jose[cryptography]==3.4.0
passlib[bcrypt]==1.7.4
pydantic-settings==2.6.1
alembic==1.17.2
psycopg2-binary==2.9.10
