.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

.photoholder {
    float: left;
    padding: 5px;
  }
  
  .photo {
    padding: 5px;
  }
  
  .photo img {
    max-width: 100%;
  }
  
  .photo video {
    max-width: 100%;
  }

  .image_container {
    display: flex;
  }
  
  .item {
    flex-grow: 1;
    height: 100px;
  }
  
  .item + .item {
    margin-left: 2%;
  }
  