apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-scripts
  namespace: photosafe
  labels:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: photosafe
data:
  01-create-photosafe-user.sh: |
    #!/bin/sh
    set -eu

    psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname postgres <<EOSQL
    DO
    \$\$
    BEGIN
      IF NOT EXISTS (SELECT FROM pg_catalog.pg_roles WHERE rolname = 'photosafe') THEN
        CREATE ROLE photosafe LOGIN PASSWORD '${PHOTOSAFE_PASSWORD}';
      ELSE
        ALTER ROLE photosafe WITH LOGIN PASSWORD '${PHOTOSAFE_PASSWORD}';
      END IF;
    END
    \$\$;

    ALTER DATABASE photosafe OWNER TO photosafe;
    GRANT ALL PRIVILEGES ON DATABASE photosafe TO photosafe;
    EOSQL