pytz  # https://github.com/stub42/pytz
python-slugify  # https://github.com/un33k/python-slugify
Pillow  # https://github.com/python-pillow/Pillow
argon2-cffi  # https://github.com/hynek/argon2_cffi
redis<4  # https://github.com/andymccurdy/redis-py
hiredis  # https://github.com/redis/hiredis-py
celery  # pyup: < 5.0,!=4.4.7  # https://github.com/celery/celery
django-celery-beat  # https://github.com/celery/django-celery-beat
flower  # https://github.com/mher/flower

# Django
# ------------------------------------------------------------------------------
django<5  # pyup: < 3.2  # https://www.djangoproject.com/
django-environ  # https://github.com/joke2k/django-environ
django-model-utils  # https://github.com/jazzband/django-model-utils
django-allauth  # https://github.com/pennersr/django-allauth
django-crispy-forms  # https://github.com/django-crispy-forms/django-crispy-forms
django-redis<5  # https://github.com/jazzband/django-redis
# Django REST Framework
djangorestframework  # https://github.com/encode/django-rest-framework
django-cors-headers # https://github.com/adamchainz/django-cors-headers
django-filter

git+https://github.com/jmelloy/pyicloud.git@master
boto3

Werkzeug # https://github.com/pallets/werkzeug
ipdb  # https://github.com/gotcha/ipdb
psycopg2-binary  # https://github.com/psycopg/psycopg2
watchgod  # https://github.com/samuelcolvin/watchgod

# Testing
# ------------------------------------------------------------------------------
# mypy  # https://github.com/python/mypy
# django-stubs  # https://github.com/typeddjango/django-stubs
# pytest==6.2.3  # https://github.com/pytest-dev/pytest
# pytest-sugar==0.9.4  # https://github.com/Frozenball/pytest-sugar

# # Documentation
# # ------------------------------------------------------------------------------
# sphinx==3.5.3  # https://github.com/sphinx-doc/sphinx
# sphinx-autobuild==2021.3.14 # https://github.com/GaretJax/sphinx-autobuild

# Code quality
# ------------------------------------------------------------------------------
flake8  # https://github.com/PyCQA/flake8
flake8-isort  # https://github.com/gforcada/flake8-isort
coverage  # https://github.com/nedbat/coveragepy
black  # https://github.com/ambv/black
pylint-django  # https://github.com/PyCQA/pylint-django
pylint-celery  # https://github.com/PyCQA/pylint-celery
pre-commit  # https://github.com/pre-commit/pre-commit

# Django
# ------------------------------------------------------------------------------
# factory-boy  # https://github.com/FactoryBoy/factory_boy

django-debug-toolbar  # https://github.com/jazzband/django-debug-toolbar
django-extensions  # https://github.com/django-extensions/django-extensions
django-coverage-plugin  # https://github.com/nedbat/django_coverage_plugin
pytest-django # https://github.com/pytest-dev/pytest-django


gunicorn  # https://github.com/benoitc/gunicorn
Collectfast  # https://github.com/antonagestam/collectfast

# Django
# ------------------------------------------------------------------------------
django-storages[boto3]  # https://github.com/jschneier/django-storages
django-anymail[amazon_ses]  # https://github.com/anymail/django-anymail

